body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6ff;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
    height: 20px;
}
p3{
    font-size: 14px;
    
}

#profile {
    width: 330px;
    margin-top: 0px;
    color: white;
    padding-left: 10px;
}

.profilediv{
    border-radius: 0px 0px 80px 80px;
    height: 200px;
    max-width: 390px;
    background-color: blueviolet;
    padding: 10px;
}
#user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
}

#user-info img {
    border-radius: 50%;
    margin-right: 20px;
    height: 70px;
}

#user-info div {
    flex-grow: 1;
}

#service-center {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#service-center button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#navigation {
    display: flex;
    justify-content: space-around;
    background-color: #ecf0f1;
    padding: 5px;
    position: fixed;
    bottom: 0;
    gap: 5px;
    width: 98%;
}

.nav-btn {
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
}

.nav-btn-div {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Add this style for the pressed state */
.nav-btn-div:active {
    background-color: white;
}

.homebtndiv, .walletbtndiv, .accountbtndiv, .activitybtndiv, .promotionbtndiv{
    display: grid;
    gap: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    background-color: #3498db;
}
i{
    padding-top: 10px;
    font-size: 21px;
}

.balance {
    display: grid;
    height: 120px;
    padding: 5px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balanceh2 {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the left */
    height: 60px;
    padding-left: 10px; /* Add padding to adjust left alignment */
}

.balance p3,
.balance h2 {
    margin: 0; /* Remove default margin for p and h2 */
    color: #333;
    padding: 3px;
}
i3{
    font-size: 15px;
}
.balancebtn{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    gap: 5px;
    width: 98%;
}
.balance-btn {
    padding: 8px 20px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: #333;
    border-radius: 5px;
}
.withdrawbtndiv, .walletbtndiv2, .depositebtndiv, .vipbtndiv{
    display: grid;
    gap: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
}
.balancebtn i{
    color: #3498db;
}

a{
    text-decoration: none;
}
